* {
    background-color: #E5E5E5;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 400;
    justify-content: center;
    line-height: 150%;
}

header{
    align-items: center;
    display: flex;
    justify-content: center;
}

header h1{
    color: #0a3871;
    font-size: 40px;
    text-shadow: 3px 3px 2px #0a3871;
}

.logo{
    height: 48px;
    margin-right: 50px;
}

.main_container{
    display: flex;
    margin-top: 30px;
}

.texto_a_encriptar{
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    -moz-box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    color: #0a3871;
    height: 500px;
    margin-bottom: 30px;
    outline: none;
    padding: 15px;
    width: 650px;
}

::placeholder{
    color: #0a3871;
    font-size: 25px;
}

.texto_a_encriptar:focus{
    outline: none;
}

.lado_a{
    height: 640px;
    margin-right: 80px;
    width: 680px;
}

.lado_b{
    height: 640px;
    margin-right: 80px;
    width: 680px;
}

.texto_encriptado{
    background-image: url(./img/muneco.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    -moz-box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    box-shadow: 10px 10px 28px -6px rgba(10,56,113,1);
    color: #0a3871;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 50px;
    outline: none;
    padding: 15px;
    width: 650px;
}

.texto_encriptado:focus{
    outline: none;
}

.btns{
    cursor: pointer;
    height: 67px;
    margin-left: 2px;
    width: 328px;
}

.encriptar{    
    background-color:E5E5E5;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
}

.desencriptar{    
    background-color:#0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #E5E5E5;
}

.container_button_lb{
    display: flex;
    justify-content: flex-end;
}
